@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: #fbbc58;
  color: #095d6a;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.textarea {
  background: #fdf6f0;
  color: #f57b51;
}
